{% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceBook Login Page</title>
    <link rel="stylesheet" href="/static/css/face1.css">
</head>

<body style="background-color:rgb(232, 231, 231);">
    <div class="face">
        <form class="login">
            EMAIL:<input class="t1" id="email" type="email" name="email" value=""
                placeholder="PLEASE ENTER YOUR EMAIL ">
            <br>
            Password:<input class="t1" id="password" type="password" name="password" value=""
                placeholder="CREATE PASSWORD">
            <br>

            <br>
            <br>
            <br>
            <button class="butt1" id="submit" type="button">Submit</button>
            <br>
            <br>

        </form>
    </div>
    <h1>facebook</h1>
    <h3>Connect with friends and the world <br> around you on Facebook.</h3>


</body>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
<script src="/static/js/style2.js"></script>

</html>