{% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reg Details</title>
</head>

<body>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <h2>CREATE!!</h2>
                    <form action="">
                        Name: <input type="name" id="name" placeholder="Enter Name"><br><br>
                        Email: <input type="email" id="email" placeholder="Enter Email"><br><br>
                        Mobile: <input type="mobile" id="mobile" placeholder="Enter Mobile"><br><br>
                        Password: <input type="password" id="password" placeholder="Enter Password"><br><br>
                    </form>
                    <button class="btn btn-primary" id="create" type="button">CREATE</button>
                    <br><br>
                </div>
                <div class="col-4">
                    <h2>UPDATE!!</h2>
                    <form action="">
                        ID: <input type="number" id="id1" placeholder="Enter ID"><br><br>
                        Name: <input type="text" id="name1" placeholder="Enter Name"><br><br>
                        Email: <input type="email" id="email1" placeholder="Enter Email"><br><br>
                        Mobile: <input type="number" id="mobile1" placeholder="Enter Mobile"><br><br>
                    </form>
                    <button class="btn btn-secondary" id="update" type="button">UPDATE</button>
                </div>
                <div class="col-4">
                    <h2>DELETE!!</h2>
                    <form action="">
                        ID: <input type="number" id="id2" placeholder="Enter ID"><br><br>
                    </form>
                    <button class="btn btn-danger" id="delete" type="button">DELETE</button>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <center>
        <table class="table table-striped" id="table" border="5">
            <th>Id</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
        </table>
    </center>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
<script src="/static/js/regdetails.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</html>